*{
    margin: 0px;
    padding: 0px;
}
 .top_line_wrapp{
     display: flex;
 }
 .top_line_block{
     width: 100px;
     height: 100px;
     background: #1f1345;
     border: 1px solid black;
 }
 .left_line_block{
     width: 100px;
     height: 100px;
     background: #1f1345;
     border: 1px solid black;
 }
 .right_line_wrapp{
     margin-left: 1020px;
     margin-top: -1020px;
 }
 .right_line_block{
     text-align: center;
     width: 100px;height: 100px;
     background: #1f1345;
     border: 1px solid black;
 }
 .bot_line_wrapp{
     display: flex;
 }
 .bot_line_block{
     width: 100px;
     height: 100px;
     background: #1f1345;
     border: 1px solid black;
 }
 .green_sity_block{
     border: 1px solid white;
     background: green;
     height: 100%;
     width: 25%
 }
 .blue_sity_block{
     border: 1px solid white;
     background: blue;
     height: 100%;
     width: 25%
 }
 .red_sity_block{
     border: 1px solid white;
     background: red;
     height: 25%;
     width: 100%;
     margin:  4.5em 0 0 0;

 }
.yellow_situ_block{
    border: 1px solid white;
    background: yellow;
    height: 25%;
    width: 100%;
    margin:  4.5em 0 0 0;
}
.orange_sity_block{
     border: 1px solid white;
     background: orange;
     height: 100%;
     width: 25%;
    margin:  0 0 0 4.5em;
 }
.pink_situ_block{
    border: 1px solid white;
    background: deeppink;
    height: 100%;
    width: 25%;
    margin:  0 0 0 4.5em;
}
.turquoise_sity_block{
     border: 1px solid white;
     background: orange;
     height: 25%;
     width: 100%;
    /*margin:  0 0 4.5em 0;*/
 }
.brown_sity_block{
    border: 1px solid white;
    background: brown;
    height: 25%;
    width: 100%;
    /*margin:  0 0 4.5em 0;*/
}
.center_block_wrapp{
    width: 919px;
    height: 913px;
    margin: -1018px 0 0 100px;
    text-align: center;
    font-size: 100px;
    /*padding-top: 350px;*/
}
.roll {
    width: 100px;
    height:50px;
    background: orangered;
    position: absolute;
    top: 500px;
    left: 500px;


}
#player_1{
    width: 25px;
    height: 25px;
    background: red;
    /*margin: 25%;*/
    /*z-index: 100;*/
    position: absolute;

}